@page
@model IndexModel
@{
    ViewData["Title"] = "Kittu Homelands";
}

<div class="text-center">
    <h1 class="display-4">Welcome to kittu Homelands</h1>
    <p>Learn more about us <a href="https://docs.microsoft.com/aspnet/core">Building your future homes.</a>.</p>
</div>
